html {
  font-size: 20px;
  background-color: mediumseagreen;
}
body {
  width: 75%;
  margin: auto;
  border-radius: 10px;
  background-color: gold;
}
nav {
  background-color: forestgreen;
  margin: auto;
  font-size: 1.5;
}
ul {
  padding: 0.5px;
  text-align: center;
}
li {
  padding: 1px;
  display: block;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
